
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddListStudent</title>
</head>
<body>
    <div>
        <br />
        @using (Html.BeginForm("AddListStudent", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
        }
    </div>
    @ViewBag.Success
</body>
</html>
