
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>

        <h2>Tài khoản của bạn không thể truy cập @ViewBag.tenaction </h2>

    </div>
</body>
</html>
